<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="../static/style.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <header>
      Dan Ripka
      <nav>
        <a href="{{url_for('index')}}">Home</a>
        -
        <a href="{{url_for('about')}}">About</a>
        -
        <a href="{{url_for('projects')}}">Projects</a>
      </nav>
    </header>
    <hr class="divider" />
    <content>
      <h2>{{code}} Error</h2>
      {{description}}
    </content>
    <hr class="divider" />
    <footer>
      <nav>
        <a href="https://www.linkedin.com/in/dan-ripka">LinkedIn</a>
        &ensp;|&ensp;
        <a href="https://twitter.com/DanRipka">X</a>
        &ensp;|&ensp;
        <a href="https://github.com/danripka">Github</a>
      </nav>
    </footer>
  </body>
</html>
